header{
    background-color: rgb(218, 12, 115);
    
}

#produtos{
    background-color: crimson;
    height: 700px;
}

#parceiros{
    background-color: darkred;
    height: 700px;

}

#historia{
    background-color: cadetblue;
    height: 700px;
}

#cadastro{
    background-color: hotpink;
    height: 700px;
}
#logotipo{
    height: 200px;
}