*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

header{
    background-color: rgb(104, 27, 228);
    
}

#parceiros{
    background-color: rgb(107, 54, 230);
    height: 700px;
    padding-top: 30px;
}

#produtos{
    background-color: rgb(132, 43, 192);
    height: 700px;

}

#historia{
    background-color: cadetblue;
    height: 700px;
}

#cadastro{
    background-color: hotpink;
    height: 700px;
}
.logotipo{
    height: 250px;
}
body{
    background-color: aliceblue;
}

.menu{
    background-color: rgb(247, 247, 247);
    padding: 15px;
}

.menu a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.9s;
    padding: 5px;
}

.menu a:hover{
    color: rgb(243, 228, 19);
    text-decoration: underline;
    background-color: black;
    border-radius: 3px;

}

.menu li{
    display: inline;
    margin: 15px;
}

.texto_1{
    background-color: rgb(40, 105, 165);
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 10px;

}

.texto_1:hover{
    background-color: rgb(39, 65, 85);
    transition: 0.9s;
}

.texto_1 p{
  /* border: solid red 2px; */
    text-align: justify;
    
}

.imagem{
    height: 230px;
    padding: 50px;
}
.card{
   /* border: solid 2px red;*/
   width: 300px;
   height: 500px;

}

.produtocard{
    width: 250px;
}

.preco{
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
}


